.product_card {
  height: 100%;
  .ant-card-body {
    position: relative;
    .sale_title {
      position: absolute;
      top: 0;
      left: 0.5rem;
      font-weight: bold;
    }
  }
  .product_card_image {
    width: 100%;
    height: 10rem;
    object-fit: contain;
    padding: 1rem;
  }
  .product_card_details_container {
    max-width: 12rem;
  }
}
